/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.content{
	width:100%;
	height:100vh;
	font-family: 'Roboto', sans-serif;
}

.content > div:nth-Child(1){
	background-color:rgb(185, 210, 232);
	width:60%;
	height:100vh;
	padding:60px 50px 60px 50px;
}

input[type=text] {
	background-color: white;
	background-image: url('search.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 45px;
  }

  input {
	color: #333;
	font-size: 1.2rem;
	  margin: 0 auto;
	padding: 0.65rem 1.5rem;
	border-radius: 0.2rem;
	background-color: rgb(255, 255, 255);
	border: none;
	width: 30%;
	border-bottom: 0.3rem solid transparent;
	transition: all 0.3s;
  }
  
  input:placeholder-shown + .form__label {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-4rem);
	transform: translateY(-4rem);
  }

  label{
	font-size: 1.2rem;
	margin-left: 2rem;
	margin-top: 0.7rem;
	display: block;
	transition: all 0.3s;
	transform: translateY(0rem);
  }

  .week-weather-title{
	width:100%;
	display:flex;
	justify-content:center;
	font-size: 32px;
	font-weight: bold;
  }
  .week-weather-grid{
	margin-top: 50px;
	width:100%;
	height:500px;
	display:grid;
	row-gap:25px;
	column-gap:10px;
	grid-template-columns: repeat(7,1fr);
  	grid-template-rows: repeat(7,1fr);
  }


  .grid-item{
	font-size: 24px;
	display:flex;
	justify-content: center;
	align-items:center;
	color:rgb(80, 77, 77);
	opacity:0.75;
  }

  .day{
	
  }